<footer class="sticky-footer bg-white shadow-sm py-3">
  <div class="container my-auto">
    <div class="text-center my-auto" style="color: #333; font-weight: 600; font-size: 15px;">
      © <span>Webskitter 2025</span>. All rights reserved.
    </div>
  </div>
</footer>